.toggleTime {
    display: flex;
    border-radius: 15px;
    font-size: 13px;
    height: fit-content;
    overflow: hidden;
}

.lastMonth,
.lastYear {
    cursor: pointer;
    margin: 0;
    height: fit-content;
    padding: 6px 12px;
    border: solid 2px rgba(123, 117, 117, 0.85);
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.lastMonth {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.lastYear {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.lastMonth:hover,
.lastYear:hover {
    border-color: var(--mainbg);
    color: var(--mainbg);
    transform: scale(1.05);
}

.lastMonthActive,
.lastYearActive {
    background-color: #00877311;
    border-color: var(--mainbg);
    color: var(--mainbg);
    font-weight: 700;
    position: relative;
    z-index: 2;
    animation: highlight 0.3s forwards;
}

@keyframes highlight {
    from {
        background-color: #fff;
    }
    to {
        background-color: #00877311;
    }
}

.lastMonthActive::before,
.lastYearActive::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00877311;
    z-index: -1;
    animation: highlight 0.3s forwards;
}

.lastMonth:hover {
    border-right: none;
}

.lastYear:hover {
    border-left: none;
}
.containerincome{
    cursor: pointer;
}
.toolIncome , .toolExpanses{
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 15px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.674);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
    max-width: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out, max-width 0.5s ease-out;
}
.containerincome:hover .toolIncome, .containerExpenses:hover .toolExpanses{
    opacity: 1;
    visibility: visible;
    max-width: 230px;
}
