.img {
    height: 20vh;
    width: 11vw;
}

.nav {
    padding-top: 3rem;
    border-bottom: solid #fff 0.001rem;
    height: 100vh;
    max-width: 13vw;
    font-weight: 800;
    font-size: large;
    box-shadow: 5px 5px 11px -3px rgba(185, 155, 155, 0.93);
    position: sticky;
    left: 0;
    top: 0;
}

* {
    list-style: none;
}

.ul {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.itemsNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.item {
    display: flex;
    padding: 0.5rem;
    gap: 0.6rem;
}

.a {
    color: black;
    text-decoration: none;
    transition: 0.09s;
}

.a:hover {
    border-radius: 10px;
    font-weight: 400;
}

.active {
    border-radius: 10px;
    background-color: #008773;
    width: 10vw;
    color: white;
    font-weight: 400;
    cursor: pointer;
}


.user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30%;
    height: 50%;
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
}

.select {
    padding: 10px;
    border: 1px solid #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    font-size: 16px;
    width: 110%;
    margin-bottom: 10px;
}

.logOutBtn, .createAc {
    background-color: #ffffff;
    color: #6e6e6e;
    border: solid #5f6261;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 110%;
    transition: 0.3s;
}
.createAc {
    color: #008773;
    border: solid #008773;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 400;
}

.logOutBtn:hover, .createAc:hover {
    border: solid #008773;
    background-color: #008773;
    color: #ffffff;
    border: solid #ffffff;
}

.responsive {
    display: none;
}

.closeNavResponsive {
    display: none;
}

.closeNav {
    display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1259px) {
    .responsive {
        display: block;
        font-size: 26px;
        padding: 1rem;
    }

    .nav {
        padding-top: 0;
        max-width: 20vw;
    }

    .ul {
        display: none;
    }

    .header {
        width: 5vw;
    }

    .active {
        width: 15vw;
    }

}

@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .img {
        width: 0;
    }

    .logOutBtn {
        width: 0%;
        height: 0;
        padding: 0;
        opacity: 0;
    }


}