.container {
    display: flex;
    justify-content: center;
    width: 95vw;
}

.containerBalances {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    align-self: center;
}

.titles {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    color: var(--mainbg);
    margin-bottom: 10px;
}

.title {
    width: 12vw;
    position: relative;
    padding-bottom: 5px;
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--mainbg);
    transition: width 0.3s ease-in-out;
}

.title:hover::after {
    width: 70%;
}

.activeTitle::after {
    width: 70%;
}


.select {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--mainbg);
    color: #ffffff;
    border: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-bottom: 2vh;
}

.sortBy {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}


.sortBy h3 {
    margin-bottom: 8px;
    font-size: 18px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    width: fit-content;
}

.checkboxContainer input {
    margin-right: 8px;
    width: fit-content;
}

.nextBtn {
    background-color: green;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 0;
    width: fit-content;
}

.prevBtn {
    background-color: red;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 0;
    width: fit-content;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100vw;
    }

    .h2 {
        text-align: center;
    }

    .sortBy {
        width: 90vw;
    }

    .activities {
        width: 90vw;
    }

    .titles {
        width: 90vw;
        padding: 0 0.7rem 0 0.7rem;

    }

    .title {
        width: fit-content;
        font-size: 15px;
    }

    .title:hover::after {
        width: 100%;
    }

    .activeTitle::after {
        width: 100%;
    }
}