.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 10vh;
    width: 80vw;
    justify-content: space-between;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 10px;
    margin-top: 3vh;
    background-color: rgba(255, 255, 255, 0.589);
}

.container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.navlink {
    transition: 0.3s;
    padding: 0.7rem;
    border-radius: 10px;
}

.navlink:hover,
.navActive {
    background-color: var(--mainbg);
    padding: 0.7rem;
    border-radius: 10px;
}

.navlink:hover {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 3vh;
    font-size: 20px;
    font-weight: 500;
    color: var(--mainbg);
}

.img {
    height: 7vh;
    border-radius: 50%;
    margin: 0.1rem;
}

.a,
.aActive,
.aHome,
.aHomeActive {
    font-size: 20px;
    font-weight: 500;
    color: var(--mainbg);
    text-decoration: none;
    transition: 0.3s;
}

.aActive {
    color: white;
    transition: 0.3s;
}

.aHomeActive ,.aHome:hover{
    border-bottom: solid;
    padding-bottom: 1vh;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 768px) {
    .navBar{
        flex-direction: column;
        /* align-items: flex-start; */
        height: 90px;
    }
    .container{
        flex-direction: column;
        align-items: center;
        height: 0;
        opacity: 0;
    }
    .logo{
        flex-direction: column;
    }
    .img{
        margin-top: 0.8rem;
        position: relative;
        right: 15px;
        align-self: flex-start;
    }
    .aHome,.aHomeActive{
        max-height: 0;
        opacity: 0;
    }
    .hamburger{
        display: block;
        color: black;
        font-size: 40px;
        margin-top: 0.8rem;
    }
    .responsive{
        display: flex;
        justify-content: space-between;
        width: 70vw;
        align-items: center;
    }

}