.About{
    /* margin: auto;
    
   
    margin-top: 5vh;
    color: white;
    background-color: #c2cad999;
    border-radius: 10px;
    padding: 2vh;
    box-shadow: -10px 11px 10px 1px rgba(55, 79, 186, 0.75); */
    display: flex;
    width: 80vw;
    margin: var(--defaultMargin);
    padding: 20px;
    background: rgba(144, 201, 201, 0.639);
    border-radius: 8px;
    box-shadow: 6px 13px 20px 0px rgba(80,125,206,0.7);
    height: 80vh;
}
.left{
    padding: 2vh;
    /* flex: 80%; */
}
.right{
    /* flex: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vh;
}
.h1{
    width: 60%;
    font-size: 68px;
    color: rgb(255, 255, 255);
}
.span{
    color: rgb(13, 44, 101);
}
.img{
    border-radius: 50%;
    height: 80%;
}