.TransactionContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.recentTransaction {
    margin-bottom: 1rem;
}

.seeAll {
    align-self: flex-end;
    color: #f4cc76;
    font-size: 20px;
}

.iconTran {
    border: solid grey;
    border-radius: 10px;
    padding: 1rem;
    color: var(--mainbg);
}

.iconAndType {
    display: flex;
    width: 50%;
    gap: 1rem;
}

.reactIcon {
    font-size: 20px;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}

.typeBuy {
    font-size: 16px;
    color: gray;
}

.whereBuy {
    font-weight: 600;
}

.howMuch {
    font-weight: 600;
}

.red {
    color: red;
}

.green {
    color: green;
}

.toolRecived,
.toolMade,
.toolLoans {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-left: 90px;
    margin-top: 40px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.674);
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
    max-width: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out, max-width 0.5s ease-out;
}

.type:hover .toolRecived,
.type:hover .toolMade,
.type:hover .toolLoans {
    opacity: 1;
    visibility: visible;
    max-width: 300px;
}

@media only screen and (max-width: 768px) {

    .whereBuy,
    .howMuch {
        font-size: 17px;
    }

    .iconTran {
        padding: 0.5rem;
    }

    .toolRecived,
    .toolMade,
    .toolLoans {
        margin-left: 75px;
        font-size: 13px;
    }
}