.containerSides {
    display: flex;
    width: 87vw;
    height: 100%;
}

.left,
.right {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.smallContainer {
    height: 30%;
    width: 95%;
    border: solid;
    padding: 1.5rem;
}

.creditCard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 45%;
    border: none;
    border-radius: 15px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
}

.RecentTransaction,
.mySaving {
    border: none;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

.BarChart {
    border: none;
    padding: 0;
}

.summaryTransaction {
    display: flex;
    height: fit-content;
    width: 100%;
    border: none;
    padding-left: 0.7rem;
}

.summary {
    display: flex;
    gap: 1rem;
    width: 50%;
}

.cilnbox {
    font-size: 60px;
    border: solid grey;
    border-radius: 10px;
    padding: 0.5rem;
    color: var(--mainbg);
}

.cilnboxOut {
    color: var(--secbg);
}

.h5 {
    color: gray;
    font-size: 15px;
}

.howMuchIn {
    font-size: 36px;
    color: var(--mainbg);
}

.howMuchEx {
    font-size: 36px;
    color: var(--secbg);
}

.totalSpend {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.coins {
    padding: 1rem 0 1rem 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .containerSides {
        flex-direction: column;
    }

    .left {
        width: 100%;
        padding: 0;
        padding-top: 1.5rem;
    }

    .creditCard {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem !important;
    }

    .smallContainer {
        padding: 0;
        padding-top: 1.5rem;
    }
}