.accountbalance h2 {
    margin: 0;
}
.About{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: var(--defaultMargin);
    padding: 20px;
    background: rgba(144, 201, 201, 0.639);
    border-radius: 8px;
    box-shadow: 6px 13px 20px 0px rgba(80, 125, 206, 0.7);
    height: 75vh;
    min-height: fit-content;

}
.accountbalance {
    margin: 3vh 0 3vh 0;
    background-color: #44b0b4da;
    padding: 0.5rem;
    border-radius: 10px;
}

.morning h1, .afternoon h1 , .evening h1 {
    /* font-size: 48px; */
    margin: 3vh 0 3vh 0;
    /* background-color: rgba(144, 201, 201, 0.639);
    padding: 0.5rem;
    border-radius: 10px; */
}

.homeComponent {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
    color: white;
}

.morning {
    background-color: rgba(229, 241, 7, 0.639);
    font-size: 48px;
    margin: 3vh 0 3vh 0;
    padding: 0.5rem;
    border-radius: 10px;
}

.afternoon {
    background-color: rgba(241, 159, 7, 0.639);
    font-size: 48px;
    margin: 3vh 0 3vh 0;
    padding: 0.5rem;
    border-radius: 10px;
}

.evening {
    font-size: 48px;
    margin: 3vh 0 3vh 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: black;
}

.createAccount {
    /* background-color: #44b0b4da; */
    

}

.btnCreate ,.btnCreateClosa {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 8vw;
}
.btnCreateClosa{
    background-color: red;

}

.createAccountContainer {
    display: flex;
    background-color: #44b0b4da; ;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0.5rem;
}
.container{
    display: flex;
    justify-content: center;
    transition: 1s;
}
@media only screen and (max-width: 768px){
    .img{
        display: none;
    }
    .About{
        flex-direction: column;
        height: fit-content;
        padding-bottom: 3rem;
        width: 85vw;
    }
    .morning, .afternoon , .evening {
        font-size: 28px;
        width: 75vw;    
        text-align: center;
    }
    .createAccount{
        font-size: 18px;
    }
    .btnCreate{
        width: fit-content;
    }
    .btnCreateClosa{
        width: fit-content;
    }
    .accountbalance{
        width: 75vw;
    }
}