.modalBackground {
    position: fixed;
    top: 47px;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(10, 10, 10, 0.395);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }
  
  .modalContainer {
    height: fit-content;
    border-radius: 12px;
    /* background-color: rgba(255, 255, 255, 0); */
    /* box-shadow: rgba(232, 232, 232, 0.879) 0px 0px 15px; */
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* overflow-y: auto; */
    transform: translateY(-100px);
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  .modalContainer .details{
    font-size: 1rem;
    align-self: flex-start;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    top: 10vh;
    right: 2vh;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    bottom: 12vh;
  }
  