.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #F4F4F4;
}

.h2 {
    border-radius: 10px;
    background-color: var(--mainbg);
    color: white;
    padding: 2vh;
}

.label {
    font-size: 18px;
    color: grey;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: var(--defaultMargin);
    padding: 20px;
    background: rgb(144, 201, 201);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerOtherPage,
.ContainerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: var(--defaultMargin);
    padding: 20px;
    background: rgb(144, 201, 201);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.ContainerHome {
    bottom: 15vh;
}

.Container3,
.ContainerRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: var(--defaultMargin);
    padding: 20px;
    background: rgb(144, 201, 201);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.Form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 80%;
    margin: auto;
}

.Form h2 {
    margin-bottom: 10px;
}

.Form p {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.submitBtn {
    padding: 15px;
    color: #fff;
    background: var(--mainbg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.submitBtn:hover {
    background: var(--mainbg);
}

.loginLink {
    color: var(--mainbg);
    text-decoration: none;
    cursor: pointer;
}

.small {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
    font-size: 13px;
}

.small2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

}

.small3 {
    margin-top: 20px;
}

.small a {
    color: var(--mainbg);
    text-decoration: none;
}

.select {
    padding: 10px;
    border: 1px solid #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    font-size: 16px;
    width: 20vw;
    margin-bottom: 10px;
}

.select option {
    color: #333;
    background-color: #fff;
}

.registerOrSign {
    display: flex;
}

.containerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}


.loginLink:hover {
    text-decoration: underline;
}

.loading {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

.cancel {
    background-color: crimson;
    width: 150px;
    position: absolute;
    height: 7vh;
    bottom: 2%;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.cancel2 {
    background-color: crimson;
    width: 150px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    height: 7vh;
}

@media only screen and (max-width: 768px) {
    .Container {
        padding: 1.5rem;
        width: 80vw;
        margin: 0;
    }

    .ContainerHome {
        bottom: 55vh;
    }

    .containerOtherPage {
        bottom: 5vh;
    }

    .Form h2 {
        font-size: 21px;
    }

    .input {
        width: 70vw;
    }

    .select {
        width: 75vw;
    }

    .ContainerRegister {
        width: 90%;
    }

    .submitBtn {
        font-size: 15px;
    }

    .cancel2 {
        font-size: 15px;
        height: 5vh;
        width: 120px;

    }
}