.TransactionContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.recentTransaction {
    margin-bottom: 1rem;
}

.seeAll {
    align-self: flex-end;
    color: #f4cc76;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.seeAll:hover {
    color: #db9f1c;
}

.iconTran {
    border: solid grey;
    border-radius: 10px;
    padding: 1rem;
    color: #008773;
}

.iconAndType {
    display: flex;
    width: 50%;
    ;
    gap: 1rem;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}

.typeBuy {
    font-size: 16px;
    color: gray;
}

.whereBuy {
    font-weight: 600;
}

.howMuch {
    font-weight: 600;

}

.income {
    color: rgb(4, 145, 4);
}

.expenditure {
    color: #ec0101;
}

.noTransaction {
    background-color: #f8f8f8;
    ;
    width: 100%;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.amountAndDate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}